*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: white;
    color: black;
}
ol{
    list-style: none;
    padding: 0;
}
input{
    border: none;
    outline-style:none;
    padding: 6px 15px;
    width: 100%;
    font-size: 20px;
    border-top: 2px solid black;
  
}
.section__list-icon,
.section__footer__btn-icon{
    cursor: pointer;
}

.section{
    width: 25%;
    margin: 0 auto;
    margin-top: 40px;
    -webkit-box-shadow: 11px 14px 15px 5px rgba(0,0,0,0.36); 
    box-shadow: 11px 14px 15px 5px rgba(0,0,0,0.36);
    border-radius: 20px;
}
.section__title{
    text-align: center;
    padding: 10px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(105,89,219,1) 23%, rgba(156,82,180,1) 50%, rgba(164,81,174,1) 52%, rgba(252,70,107,1) 100%);
    border-radius: 20px 20px 0 0;
    color:white ;
}
.section__lists{
    font-size: 20px;
    padding: 0 20px;
    height: 500px;
    overflow: auto;
}
.section__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}
.section__list-icon{
    color: black;
    font-size: 18px;
    border: none;
    background-color: white;
    transition: color 250ms ease-in-out,
    transform 250ms ease-in-out;
}
.section__list-icon:hover{
    color: rgb(245, 91, 91);
    transform: scale(1.2);
}
.section__footer{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(105,89,219,1) 23%, rgba(156,82,180,1) 50%, rgba(164,81,174,1) 52%, rgba(252,70,107,1) 100%);
    border-radius: 0 0 20px 20px;
}
.section__footer__btn{
    display: block;
    margin:0 auto;
    font-size: 50px;
    background-color: transparent !important;
    border: none;
    cursor: pointer;
    transition: transform 350ms ease-in;
}

.section__footer__btn:hover{
    transform: scale(1.2);
}
