*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: black;
}
.box{
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    margin-bottom: 8px;
}
.box:nth-child(5) {
    background-color: #0066ff;
}
.button-group{
    position: fixed;
    right: 0;
    padding: 13px;
}

