*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    text-align: center;
}
.button{
    background-color: tomato;
    color: #FFF;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
img{
    display: block;
    width: 200px;
    margin: 0 auto;
}
